<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=PEUWUL24667\MSSQLSERVER2008;Initial Catalog=NewRedSol;User ID=sa;Password=Pepsico2008"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>